<h1>Politiquiz</h1>

<iframe name='proprofs' id='proprofs' width='650' height='700' frameborder=0 marginwidth=0 marginheight=0 src='https://www.proprofs.com/quiz-school/story.php?title=NjY2MTQ5&id=665865&ew=630'></iframe><div style='font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#000;text-align:center;'><a href='https://www.proprofs.com/quiz-school/story.php?title=NjY2MTQ5' target='_blank' title='Your Politiquiz'>Your Politiquiz</a> &raquo; <a href='https://www.proprofs.com/quiz-school/' title='Create A Quiz' target='_blank'>Create A Quiz</a></div>


<div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div>
<div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div>
<div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div>